---
import '../shared.css'
import Main from '../layouts/Main.astro'
import Nav from '../components/Nav.astro'
import { getBlogs } from '../db'
import BlogTitle from '../components/BlogTitle.astro'

const blogs = await getBlogs()
---

<Main title="Головна">
  <Nav />

  {
    blogs.map((blog, index) => (
      <div class="card" class:list={[{ 'margin-top': !!index }]}>
        <BlogTitle blog={blog} />
      </div>
    ))
  }
</Main>

<style>
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .margin-top {
    margin-top: 40px;
  }
</style>
