html,
body,
form,
fieldset,
table,
tr,
td,
img {
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: #f9fafb;
}

input,
button,
select,
textarea,
optgroup,
option,
a {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
}

body {
  font-size: 16px;
  background-color: #111827;
  padding: 40px;
}
